@;{ PureCSS pagination. Expects argument: page (an IndexPage) }
@(let ()
   (define page-num (send page get-page-num))
   (define num-pages (send page get-num-pages))
   (define (page-link n) (send page get-link n))
   @list{
     <nav class="index-pagination" aria-label="Index Pagination">
       <div class="pure-menu pure-menu-horizontal">
         <ul class="pure-menu-list">
           @(if (zero? page-num)
              @list{<li class="pure-menu-item pure-menu-disabled">
                      <a class="pure-menu-link pure-menu-disabled" href="#">&larr;</a>
                    </li>}
              @list{<li class="page-item">
                      <a class="pure-menu-link" href="@(page-link (sub1 page-num))">&larr;</a>
                    </li>})
           @(for/list ([n (in-range num-pages)])
              @list{<li class='pure-menu-item @(if (= n page-num) "pure-menu-selected" "")'>
                      <a class="pure-menu-link" href="@(page-link n)">@(number->string (add1 n))</a>
                    </li>})
           @(if (= (add1 page-num) num-pages)
                @list{<li class="pure-menu-item pure-menu-disabled">
                        <a class="pure-menu-link pure-menu-disabled" href="#">&rarr;</a>
                      </li>}
                @list{<li class="pure-menu-item">
                        <a class="pure-menu-link" href="@(page-link (add1 page-num))">&rarr;</a>
                      </li>})
         </ul>
       </div>
     </nav>})
