@;{ PureCSS prev/next links. Expects arguments: post, site }
@(let ([prev-page (send site get-prev-post post)]
       [next-page (send site get-next-post post)])
   @list{
       <nav class="post-navigation" aria-label="Post Navigation">
         <div class="pure-menu">
         <ul class="pure-menu-list">
           @(when prev-page
             @list{
               <li class="pure-menu-item">
                 <a class="pure-menu-link" href="@(send prev-page get-link)"
                    aria-label="Previous">
                   <span aria-hidden="true">&larr; @(send prev-page get-title-html)</span>
                 </a>
               </li>
             })
           @(when next-page
             @list{
               <li class="pure-menu-item">
                 <a class="pure-menu-link" href="@(send next-page get-link)"
                    aria-label="Next">
                   <span aria-hidden="true">@(send next-page get-title-html) &rarr;</span>
                 </a>
               </li>
             })
         </ul>
         </div>
       </nav>
   })
